<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Automation Suite" verbose="1" thread-count="1" parallel="tests">

    <test name="LoginPage" parallel="tests">
        <classes>
            <class name="LoginPageTest"/>
        </classes>
    </test>
    <test name="Registration" parallel="tests">
        <classes>
            <class name="RegisterPageTest"/>
        </classes>
    </test><test name="Product" parallel="tests">
    <classes>
        <class name="ProductsPageTest"/>
    </classes>
</test>


</suite>